*, *:before, *:after {
  font-family: 'Droid Sans Mono';
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  background-size: cover;
  color: rgba(0, 0, 0, 0);
}

.hand {
  overflow: auto;
}

.placeBet{
  margin-bottom: 3px;
}

.bet{
  margin-bottom: 3px;
}

input{
  margin-bottom: 3px;
}